.github--source {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: rgba(109, 146, 189, 0.116);
  border-radius: .46rem;
  padding: .6rem;
  width: fit-content;
}